#footer {
  padding: 0px;
}

.foot-container {
  background: url('../css/images/grain.png') repeat, url('../css/images/metaimage-main-01.svg') 100% 20%/650px no-repeat, radial-gradient(79.99% 167.49% at 30.24% 129.2%, rgba(47, 79, 124, 0.8) 0%, rgba(38, 84, 107, 0) 100%), #171E25;
  padding: 20px 40px;
}

.foot-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.foot-logo {
  display: flex;
  max-width: 8%;
  padding-right: 10px;
  align-items: center;
}

.foot-text {
  color: #ffffff;
}