@font-face {
  font-family: 'OracleSans';
  src: url('../resources/Fonts/OracleSans_Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OracleSans';
  src: url('../resources/Fonts/OracleSans_Lt.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OracleSans';
  src: url('../resources/Fonts/OracleSans_ULt.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'OracleSans';
  src: url('../resources/Fonts/OracleSans_SBd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OracleSans';
  src: url('../resources/Fonts/OracleSans_Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

h1 { 
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  color: #ffffff;
}

h2 { 
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #ffffff;
}

h3 { 
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  color: #ffffff;
}

h4 { 
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
}

h5 { 
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

h6 { 
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}