name: native-gradle-plugin

on:
  push:
    paths:
      - 'native-gradle-plugin/**'
      - 'samples/**'
      - 'common/**'
  pull_request:
    paths:
      - 'native-gradle-plugin/**'
      - 'samples/**'
      - 'common/**'
  workflow_dispatch:

jobs:
  test-native-gradle-plugin:
    name: Sanity checks
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: graalvm/setup-graalvm@v1
        with:
          version: 'dev'
          java-version: '11'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Unit tests and inspections
        run: ./gradlew :native-gradle-plugin:test :native-gradle-plugin:inspections
      - name: Unit tests results
        uses: actions/upload-artifact@v1
        with:
          name: unit-tests-results
          path: native-gradle-plugin/build/reports/tests/test/
  functional-testing-gradle-plugin:
    name: Functional testing
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        gradle-version: ["current", "7.3.3", "7.2", "7.1", "6.8.3","6.7.1"]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: graalvm/setup-graalvm@v1
        with:
          version: 'dev'
          java-version: '11'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check and test the plugin
        run: ./gradlew :native-gradle-plugin:functionalTest -DgradleVersion=${{ matrix.gradle-version }}
      - name: Functional tests results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: functional-tests-results-${{ matrix.gradle-version }}
          path: native-gradle-plugin/build/reports/tests/functionalTest/
